<div class="splash-container">
  <div class="div">
    <h1 class="title">Pennywise</h1>
    <h3 class="subtitle">All your expenses, together</h3>
    <p>Please create an account or log in</p>
  </div>
  <div class="links">
    <%= link_to 'Sign up', new_user_registration_path,  class: 'btn btn-outline-primary' %> 
    <%= link_to 'LOG IN'.html_safe, new_user_session_path, class: "button" %>
  </div>
</div>